@font-face {
  font-family: "Familjen Grotesk";
  src: url("./assets/fonts/Familjen_Grotesk/FamiljenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Times Newer Roman";
  src: url("./assets/fonts/times_newer_roman/TimesNewerRoman-Regular.otf")
    format("truetype");
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
}

:root {
  --black: #1e1e1e;
  --black-50: #6a6a6a;
  --white: #fff;
  --white-darker: #cccccc;
  --accent: #daff00;
  --accent-darker: #b1cc00;

  --familjen-grotesk: "Familjen Grotesk";
  --hanken-grotesk: "Hanken Grotesk";
  --inter: "Inter";
  --times-newer-roman: "Times Newer Roman";
}

body {
  /* width: 100vw; */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--black);
  color: var(--black-100);
  font-family: var(--raleway-font);
}

/* global styles */

.heading {
  margin: 0;
  font-family: var(--hanken-grotesk);
  color: var(--white);
  /* container-type: inline-size; */
  font-size: 8cqw;
  line-height: 0.85;
  letter-spacing: -5px;
}

.title {
  color: var(--white);
  font-family: var(--inter);
  font-weight: 800;
  margin: 0;
  font-size: 3cqw;
}

.text {
  color: var(--white-darker);
  margin: 0;
  font-family: var(--inter);
  font-size: 15px;
  font-weight: 300;
  text-wrap: pretty;
}

.link-group {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.link-type1 {
  height: 35px;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  padding: 0px 25px;
  border-radius: 50px;
  text-decoration: none;
  text-decoration: none;
  width: fit-content;
  color: var(--black);
  font-family: var(--inter);
  font-weight: 400;
  font-size: 14px;
  gap: 10px;
}

.link-type2 {
  background-color: var(--accent);
  border: none;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.link-type1 .material-symbols-rounded,
.link-type2 .material-symbols-rounded {
  font-size: 21px;
  font-weight: 400;
}

/* section headings */

.section-header {
  display: flex;
  flex-direction: row;
}

.projects-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--white-darker);
  padding-bottom: 10px;
}

.section-header-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.section-header-content .content-wrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 15px;
}

.section-header-content .content-wrapper .number {
  color: var(--accent);
  font-style: italic;
  margin: 0;
}

.sm-section-header-number {
  color: var(--accent);
  font-style: italic;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .projects-header {
    flex-direction: column;
  }
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all ease-in-out 0.4s;
  box-sizing: border-box;
  background-color: var(--black);
  max-width: 1600px;
  z-index: 99;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid var(--black-50);
}

.logo a {
  color: var(--white-darker);
  font-family: var(--familjen-grotesk);
  text-decoration: none;
}

.desktop-navbar {
  align-self: center;
  padding: 0 5%;
}

.navbar-menu {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.menu-item {
  list-style-type: none;
}

.menu-item a {
  text-decoration: none;
  color: var(--white-darker);
  font-family: var(--inter);
  font-weight: 300;
  font-size: 14px;
}

.menu-item a:hover {
  text-decoration: none;
  color: var(--white);
  transition: all ease-in-out 0.2s;
}

/* MOBILE NAVBAR */

.m-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.m-navbar-logo {
  color: var(--white);
}

.m-menu-button {
  z-index: 80;
  background-color: var(--accent);
  border: none;
  color: var(--black);
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 6px 15px;
}

.m-menu-button:hover,
.m-menu-button:focus {
  cursor: pointer;
}

#m-menu-trigger-icon {
  font-size: 18px;
  padding-right: 5px;
}

.m-navbar-menu {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100svh;
  background-color: var(--black);
  margin: 0;
  padding: 50px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.m-navbar-menu .menu-item a {
  font-size: 25px;
}

.m-navbar-menu .menu-item {
  padding: 15px 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  padding: 70px 5% 0 5%;
  max-width: 1600px;
  box-sizing: border-box;
}

/* home */

.home {
  display: flex;
  flex-direction: column;
  height: calc(100svh - 75px);
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 25px;
}

.home-intro-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.home-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.home-text .header {
  width: 100%;
}

.home-text .header .accent-header {
  color: var(--accent);
}

.inline-header-subtext {
  padding-left: 10px;
}

.inline-header-subtext,
.header-subtext {
  color: var(--white-darker);
  font-family: var(--inter);
  font-size: 10px;
  margin: 0;
  line-height: 0.5;
  font-weight: 200;
  letter-spacing: 0px;
}

.scrolldown-subtext {
  margin: 0;
  line-height: 1;
}

.home-image {
  display: flex;
  width: 350px;
  max-width: 35%;
  max-height: 400px;
  justify-content: flex-end;
}

.home-image .image img {
  width: 100%;
  height: 100%;
}

.home-image .text {
  display: flex;
  align-items: flex-end;
}

/* projects */

.projects,
.work,
.education,
.contact {
  margin-bottom: 200px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-top: 35px;
}

.featured-project {
  width: 100%;
  height: 100%;
  aspect-ratio: 21/9;
  display: flex;
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--accent);
  min-height: 450px;
  box-sizing: border-box;
}

.featured-project::before {
  content: "";
  background: linear-gradient(to top, rgb(0, 0, 0, 1), transparent);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 70;
}

.featured-project-links {
  display: flex;
  justify-content: flex-end;
}

.featured-project-links .link-group a {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.featured-project-image {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.featured-project-image img {
  object-fit: cover;
  object-position: center center;
  filter: grayscale(1);
}

.featured-project:hover > .featured-project-image img {
  filter: grayscale(0);
  transition: all ease-in-out 0.3s;
}

.featured-project-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
  z-index: 80;
  background: linear-gradient(to top, rgb(218, 255, 0, 0.2), transparent);
}

.featured-project-content .project-content-header {
  max-width: 900px;
}

.project-content-header .techstack {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.techstack .tech {
  border: 1px solid white;
  border-radius: 50px;
  color: var(--white);
  font-family: var(--inter);
  font-weight: 200;
  font-size: 11px;
  padding: 2px 5px;
}

.project-layout-1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project-layout-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.project-layout-1 .project {
  flex-direction: row;
}

.project-layout-2 .project {
  flex-direction: column;
}

.project {
  display: flex;
  flex: 1;
  gap: 20px;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.project-content-header {
  z-index: 80;
}

.project-content-header .title,
.project-content-header .techstack {
  margin: 0 0 15px 0;
}

.project-content-header .title span {
  color: var(--white-darker);
  font-family: var(--times-newer-roman);
  font-weight: 200;
  margin: 0 8px;
  font-style: italic;
  font-size: 15px;
}

.project-image {
  position: relative;
  border-radius: 10px;
  flex: 1;
}

.project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 16/9;
  filter: grayscale(1);
}

.project:hover > .project-image img {
  filter: grayscale(0);
  transition: all ease-in-out 0.3s;
}

.view-project {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--accent);
  font-family: var(--inter);
}

.project-layout-2-image,
.project-layout-2-content {
  flex-grow: 0;
}

.project-layout-2-content .project-content-footer {
  margin-top: 50px;
}

/* work */

.work {
  display: flex;
  flex-direction: column;
}

.work .section-header {
  justify-content: flex-end;
  padding-bottom: 10px;
}

.work-fields {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.work-field {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--white-darker);
  box-sizing: border-box;
}

.work-expanded {
  flex: 1;
}

.work-expanded .work-field-content {
  width: auto;
  height: auto;
}

.work-collapsed {
  flex: 0;
}

.work-collapsed .work-field-content {
  width: 0;
  height: auto;
}
.work-field-content {
  overflow: hidden;
}
.work-field-header {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: flex-end;
}

.work-field-header .text {
  writing-mode: vertical-rl;
  transform: scale(-1);
  color: var(--white);
  font-family: var(--inter);
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  padding: 5px;
}

.work-field-header .text span {
  color: var(--accent);
}

.work-field-content {
  overflow: hidden;
  width: 100%;
}

/* education */

.education .section-header {
  padding-bottom: 10px;
}

.education-levels {
  display: flex;
  flex-direction: column;
}

.education-level {
  flex-direction: column;
  border-bottom: 1px solid var(--white-darker);
}

.education-level:first-child {
  border-top: 1px solid var(--white-darker);
}

.level-expand .level-content {
  height: auto;
}

.level-collapse .level-content {
  height: 0;
  overflow: hidden;
}

.level-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.level-header .title {
  flex: 1;
}

.level-header:hover {
  cursor: pointer;
  height: 100%;
}

.level-header .material-symbols-outlined {
  color: white;
  font-size: 25px;
  font-weight: 900;
}

.level-content .description {
  color: var(--white-darker);
  font-family: var(--inter);
  margin: 0;
  font-weight: 300;
  text-wrap: pretty;
}

/* contact */

.contact {
  margin-bottom: 100px;
}

.contact .section-header {
  justify-content: center;
  margin-bottom: 100px;
}

.contact-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}

.contact-item {
  display: flex;
  justify-content: center;
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: baseline;
  margin: 150px 0 15px 0;
}

.footer .back-to-top p {
  text-decoration: underline;
}

.footer .history-trigger {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer .history-trigger:hover {
  cursor: pointer;
}

.footer .history-trigger img {
  width: 100px;
  z-index: 99;
  animation: MoveUpDown 1.5s linear infinite;
}

.footer .history-trigger::before {
  content: "";
  position: absolute;
  bottom: 0px;
  border-radius: 50%;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

@keyframes MoveUpDown {
  0%,
  100% {
    padding-bottom: 0px;
  }
  50% {
    padding-bottom: 10px;
  }
}

.history {
  display: none;
  position: absolute;
  bottom: 0;
  right: 115px;
  flex-direction: column;
}

.history-header span {
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.history-items {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  gap: 15px;
}

.history-items .item {
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
}

.history-items .item img {
  aspect-ratio: 16 / 9;
  width: 280px;
  border-radius: 5px;
  border: 2px solid grey;
  box-sizing: border-box;
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 90px 15px;
}

.history-items .item img:hover {
  border: 2px solid var(--accent);
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }

  .home-image .text {
    display: none;
  }

  .hide-on-md {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
  }

  .project {
    display: flex;
    flex: 1;
    gap: 80px;
  }

  .project-layout-1 {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .project-layout-2 {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .history-items .item img {
    width: 320px;
  }
}

@media screen and (min-width: 1400px) {
  .heading {
    font-size: 120px;
  }
}

@media screen and (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .app {
    align-self: center;
    padding: 60px 10px 0 10px;
  }

  .home {
    justify-content: space-around;
  }

  .home-intro-wrapper {
    flex-direction: column;
  }

  .heading {
    font-size: 12cqw;
    letter-spacing: -2.5px;
  }

  .inline-header-subtext,
  .header-subtext {
    font-size: 9px;
  }

  .home-image {
    display: flex;
    width: 100%;
    max-width: 100%;
  }

  .home-image .image {
    width: auto;
    height: auto;
    max-height: 300px;
  }

  .inline-header-subtext,
  .home-text .subtext {
    font-size: 9px;
    line-height: 0.5;
  }

  .home-image {
    display: flex;
    width: 100%;
  }

  .projects-header {
    flex-direction: column;
  }

  .section-header p {
    padding-bottom: 8px;
  }

  .section-header-content {
    align-items: flex-start;
    max-width: 100%;
  }

  .section-header-content .content-wrapper {
    max-width: 100%;
    width: 100%;
  }

  .section-header-content .content-wrapper .text {
    font-size: 13px;
  }

  .text {
    font-size: 13px;
  }

  .project-layout-1 .project {
    flex-direction: column-reverse;
  }

  .project-layout-2 {
    flex-direction: column;
    gap: 50px;
  }

  .featured-project-content {
    padding: 15px;
  }

  .project-content-footer {
    margin-top: 40px;
  }
  .featured-project-content .project-content-header .title {
    font-size: 30px;
  }

  .title {
    font-size: 25px;
  }

  .project-content-header .description,
  .level-header .description {
    font-size: 15px;
  }

  .work-fields {
    display: flex;
    flex-direction: column;
  }

  .work-field {
    flex-direction: column;
  }

  .work-field-header .text {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 5cqw;
  }

  .work-expanded .work-field-content {
    width: auto;
    height: auto;
  }

  .work-collapsed .work-field-content {
    width: auto;
    height: 0;
  }

  .contact-content {
    flex-direction: column;
  }

  .history-items {
    flex-direction: column;
  }

  .history-items .item img {
    width: 50vw;
  }

  .hide-on-sm {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .home-image .image {
    max-height: 200px;
  }

  .featured-project-content {
    padding: 10px;
  }
}
